<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.monitor.mapper.AreaMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.monitor.bean.Area">
    <!--@mbg.generated-->
    <!--@Table t_area-->
    <id column="id" property="id" />
    <result column="area_id" property="areaId" />
    <result column="name" property="name" />
    <result column="project_id" property="projectId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, area_id, `name`, project_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_area
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_area
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="site.fsyj.monitor.bean.Area">
    <!--@mbg.generated-->
    insert into t_area (id, area_id, `name`, project_id)
    values (#{id}, #{areaId}, #{name}, #{projectId})
  </insert>
  <insert id="insertSelective" parameterType="site.fsyj.monitor.bean.Area">
    <!--@mbg.generated-->
    insert into t_area
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="areaId != null">
        #{areaId},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="projectId != null">
        #{projectId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.monitor.bean.Area">
    <!--@mbg.generated-->
    update t_area
    <set>
      <if test="areaId != null">
        area_id = #{areaId},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="projectId != null">
        project_id = #{projectId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.monitor.bean.Area">
    <!--@mbg.generated-->
    update t_area
    set area_id = #{areaId},
      `name` = #{name},
      project_id = #{projectId}
    where id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_area
    </select>
</mapper>
