<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.monitor.mapper.BuildMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.monitor.bean.Build">
    <!--@mbg.generated-->
    <!--@Table t_build-->
    <id column="id" property="id" />
    <result column="build_id" property="buildId" />
    <result column="build_name" property="buildName" />
    <result column="area_parent" property="areaParent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, build_id, build_name, area_parent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_build
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_build
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="site.fsyj.monitor.bean.Build">
    <!--@mbg.generated-->
    insert into t_build (id, build_id, build_name, area_parent)
    values (#{id}, #{buildId}, #{buildName}, #{areaParent})
  </insert>
  <insert id="insertSelective" parameterType="site.fsyj.monitor.bean.Build">
    <!--@mbg.generated-->
    insert into t_build
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buildId != null">
        build_id,
      </if>
      <if test="buildName != null">
        build_name,
      </if>
      <if test="areaParent != null">
        area_parent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="buildId != null">
        #{buildId},
      </if>
      <if test="buildName != null">
        #{buildName},
      </if>
      <if test="areaParent != null">
        #{areaParent},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.monitor.bean.Build">
    <!--@mbg.generated-->
    update t_build
    <set>
      <if test="buildId != null">
        build_id = #{buildId},
      </if>
      <if test="buildName != null">
        build_name = #{buildName},
      </if>
      <if test="areaParent != null">
        area_parent = #{areaParent},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.monitor.bean.Build">
    <!--@mbg.generated-->
    update t_build
    set build_id = #{buildId},
      build_name = #{buildName},
      area_parent = #{areaParent}
    where id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <insert id="insertList">
        INSERT INTO t_build(
        id,
        build_id,
        build_name,
        area_parent
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id},
            #{element.buildId},
            #{element.buildName},
            #{element.areaParent}
            )
        </foreach>
    </insert>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_build
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectByAreaParent" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_build
    where area_parent=#{areaParent}
    order by build_name
  </select>
</mapper>
