<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.fsyj.monitor.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="site.fsyj.monitor.bean.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="job_id" property="jobId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, job_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_user
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="site.fsyj.monitor.bean.User">
    <!--@mbg.generated-->
    insert into t_user (id, username, `password`, job_id)
    values (#{id}, #{username}, #{password}, #{jobId})
  </insert>
  <insert id="insertSelective" parameterType="site.fsyj.monitor.bean.User">
    <!--@mbg.generated-->
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="jobId != null">
        job_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="jobId != null">
        #{jobId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="site.fsyj.monitor.bean.User">
    <!--@mbg.generated-->
    update t_user
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        `password` = #{password},
      </if>
      <if test="jobId != null">
        job_id = #{jobId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="site.fsyj.monitor.bean.User">
    <!--@mbg.generated-->
    update t_user
    set username = #{username},
      `password` = #{password},
      job_id = #{jobId}
    where id = #{id}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-16-->
  <select id="selectByUsername" resultType="User">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where username=#{username}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-03-16-->
  <select id="selectByUsernameAndPassword" resultType="User">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where username=#{username} and `password`=#{password}
  </select>
</mapper>
